.row-header {
    margin: 0px auto;
    padding: 0px 0px;
  }
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 300px;
  }
  .footer {
    height: 150px;
    background-color: #067E78;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer a {
    color: floralwhite;
  }
  .jumbotron {
    margin: 0px auto;
    background: #067E78;
    color: floralwhite;
  } 
  .tab-content {
      font-size: medium;
      padding: 10px;
  }
  #cert {
    height: 600px;
    display: flex;
    justify-content: center;
  }
  .skil {
    list-style: none;
  }
  .skil li {
    margin-bottom: 8px;
  }
  .carousel-inner {
    height: 500px;
    display: flex;
    align-items: center;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
  }
  .carousel .carousel-item {
    height: 500px;
  
  }
  .carousel .carousel-item img {
    position: absolute;
    margin: auto;
    display: block;
    width: auto !important;
    height: 100%;
    
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }
  .carousel {
    width: 650px;
    height: 500px;
    align-content: center;
  }
  .nav-link {
    font-size: 24px;
    font-weight: 600;
    color: #067E78;
  }
  * { 
    font-size: 20px;
  }