<header class = "jumbotron"> 
  <div class = "container">
      <div class = "row row-header">
          <div class ="col-12 col-sm-8">
              <div style="font-size: 36px; font-weight: 700;">Prabhpreet Singh</div>
              Full-Stack Software Developer<br>
          </div>
          <div class ="col-12 col-sm-4">
              <img class="d-flex mr-1 img-thumbnail" style="border-radius: 50%;" src="assets/img/WhatsApp Image 2020-03-10 at 12.32.17 AM.jpeg" 
              height="300" width="200">
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class = "row row-content">
  <div class = "col-12">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#summary"
        role="tab" data-toggle="tab"><h5>Professional Summary</h5></a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#work"
          role="tab" data-toggle="tab"><h5>Work Experience</h5></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#education" role="tab"
            data-toggle="tab"><h5>Education</h5></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills" role="tab"
          data-toggle="tab"><h5>Skills</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects"role="tab"
          data-toggle="tab"><h5>Projects</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cert" role="tab"
          data-toggle="tab"><h5>Certification</h5></a>
      </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="summary">
      A passionate Full Stack Developer with a strong background in working on various projects and following Agile methodologies.
      With a proven track record of delivering high-quality software solutions, I bring a diverse skill set to the table. My deep
      understanding of both front-end and back-end development allows me to contribute effectively to the entire software
      development lifecycle.
    </div>
      <div role="tabpanel" class="tab-pane fade" id="education">
          <b>Master of Engineering, Software Engineering</b>
          <i style="float: right;">Jan 2018 – Apr 2020</i><br>
          <b>Concordia University, Montreal, Canada</b><br>
          Current GPA: 3.57/4.3<br>
          Relevant Courses: Advanced Database, Software Architecture, Advanced Programming Practices, Software Comprehension and Maintenance, Data Mining, Software Design Methodologies, Software Engineering Processes<br>
          <br>
          <b>Bachelor of Engineering, Computer Engineering</b>
          <i style="float: right;">Aug 2013 – May 2017</i><br>
          <b>Chandigarh University, India</b><br>
          Cumulative GPA: 8.6/10<br>
          Relevant Coureses: C, C++, Java, Data Structure, Operating System, Compiler Design, Computer Hardware<br>

          
      
      </div>

      <div role="tabpanel" class="tab-pane fade" id="work">
          <b>Software Engineer</b>
          <i style="float: right;">May 2021 - Present</i><br>
          Sparklit Networks | <i>Victoria, BC</i><br>
          <br>
          <b>Full-Stack Developer</b>
          <i style="float: right;">Sep 2020 - Apr 2021</i><br>
          Uxpertise | <i>Montreal, QC</i><br>
          <br>
          <b>Software Developer Intern</b>
          <i style="float: right;">May 2020 - Sep 2020</i><br>
          Flinks Technology | <i>Montreal, QC</i><br>
          <br>
          <b>Java Trainee</b>
          <i style="float: right;">May 2015 - Jul 2015</i><br>
          Piford Technologies | <i>Mohali, Punjab</i><br>

      </div>
  
      <div role="tabpanel" class="tab-pane fade" id="skills">
          <ul class = "skil">
              <li><b>Languages:</b> Java, C, C++, C#, SQL, Python, PHP </li>
              <li><b>Web Development:</b> HTML 5, CSS 3, JavaScript, Angular, Vue.js, Bootstrap 4, React (Novice), JSON, AJAX </li>
              <li><b>Database Technologies:</b> Oracle, MSSQL, MySQL </li>
              <li><b>Testing Framework:</b> JUnit </li>
              <li><b>Environment:</b> Visual Studio, Eclipse IDE, Netbeans IDE, intelliJ, PHPStorm </li>
              <li><b>Methodology used:</b> Agile</li>
              <li><b>Version Control System:</b> Git</li>
              <li><b>Code Review Tools:</b> PMD, SonarLint</li>
          </ul>
      </div>
  
  
      <div role="tabpanel" class="tab-pane fade" id="projects">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#Portfolio"
                  role="tab" data-toggle="tab">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#data" role="tab"
                  data-toggle="tab">Data Mining</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#hgame" role="tab"
                    data-toggle="tab">HangMan Game</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#twitter" role="tab"
                  data-toggle="tab">Twitter Analysis</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#rest" role="tab"
                    data-toggle="tab">Restaurant Management</a>
                </li>
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="Portfolio">
                  <b>Portfolio Website</b><br>
                  <b>Github link:</b> https://github.com/prabhpreet429/PortfolioAngular<br>
                  <b>Technology Used:</b> HTML 5, CSS 3, JavaScript, BootStrap 4<br>
                  
                  <div class="container">
                      <div class = "row row-content">
                  <div class = "col-sm-4">
                  <ul><li>
                  The portfolio website is developed using BootStrap components including Jumbotron, Tabs, nested Tabs.
                      </li>

                      <li>This is a responsive website that is compatible on mobile devices.</li>
                      </ul>
                  
                  </div>
                  
                  <div class = "col-sm-4">
                      <img  src="assets/img/port.PNG" 
                      height="400" width="400">
                  </div>
                  </div>
                  </div>

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="data">
                      <b>Network Intrusion Detection System</b> <br>
                      <b>Github link:</b> https://github.com/prabhpreet429/NetworkIntrusionDetection<br>
                      <b>Technology Used:</b> Python, WEKA GUI, Jupyter Notebook
                      <ul>
                          <li>Implemented preprocessing techniques on KDD Cup dataset to understand the data</li>
                          <li>Used WEKA GUI software to perform feature selection on dataset</li>
                          <li>Implemented K- Nearest Neighbor, Logistic Regression and Gaussian Naive Bayes classification algorithms from scratch on the dataset to predict whether some data will be considered as an attack or not</li>
                          <li>Used Matplotlib in Python for the visualization of the dataset</li>
                      </ul>
                  </div>
                  
                  <div role="tabpanel" class="tab-pane fade" id="hgame" style="height: 800px;">
                      <b>HangMan Game (Word Guessing Game)</b> <br>
                      <b>Github link:</b> https://github.com/prabhpreet429/HangMan_CSharp<br>
                      <b>Technology Used:</b> C#, MSSQL, Visual Studio
                      <ul>
                          <li>Developed a guessing game in Windows Form Application that enabled the user to login and guess the random hidden word by selecting appropriate alphabets</li>
                          <li>Computed an appropriate way to calculate the scoring based on the number of alphabets guessed and how many chances were used by the user</li>
                          <li>Used MSSQL database to store and display username and score in descending order in data grid view when the game ends</li>
                      </ul>
                      
                      <div class="row justify-content-md-center" style="height: 350px;">
                              <div id="mycarousel" class="carousel slide" data-ride="carousel">
                                  <div class="carousel-inner" role="listbox">
                                      <div class="carousel-item active">
                                          <img class="img-fluid img-thumbnail "
                                              src="assets/img/hm1.PNG" alt="1">
                                          
                                      </div>
                                      
                                      <div class="carousel-item">
                                          <img class="img-fluid img-thumbnail" src="assets/img/hm2.PNG">
                                          
                                      </div>
                                      
                                      <div class="carousel-item">
                                          <img class="img-fluid img-thumbnail"
                                          src="assets/img/hm3.PNG" alt="3">
                                          
                                      </div>
              
                                  </div>
                                  <ol class="carousel-indicators">
                                      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                                      <li data-target="#mycarousel" data-slide-to="1"></li>
                                      <li data-target="#mycarousel" data-slide-to="2"></li>
                                  </ol>
                                  <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon"></span>
                                  </a>
                                  <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon"></span>
                                  </a>
                                  </div>
                           </div>
                  
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="twitter">
                      <b>Twitter Analysis</b> <br>
                      <b>Technology Used:</b> Play Framework, Java 8, JavaScript, Eclipse IDE
                      <ul>
                          <li>Implemented Java 8 for designing web page using MVC pattern to retrieve the latest tweets on to a web page using Twitter API</li>
                          <li>Computed the geographical location of a tweet by using the latitude and longitude</li>
                          <li>Learned about the use of Future in Java for storing results that can take place in future</li>    
                      </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="rest">
                      <b>Restaurant Management and Billing System</b> <br>
                      <b>Technology Used:</b> Java, SQL, Oracle Database, Netbeans IDE
                      <ul>
                         <li>Implemented Java Swing to create User Interface for customers</li>
                         <li>Planned to design a customer-centric application to limit the wait time experienced during ordering of food</li>
                         <li>Enabled the customer to login using unique table number and mobile number and order food in their currency</li>
                         <li>Enabled chef to login and go through customer order and prepare the order</li>
                         <li>Implemented Oracle database to keep track of customer’s records and their most ordered food</li>
                      </ul>
                  </div>
      </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="cert">


          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
              <div class="carousel-inner" style="height: 600px;">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="assets/certificates/data.PNG" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/python.PNG" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/bootstrap.PNG" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/javascript.PNG" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/javascriptplural.PNG" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/json.PNG" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/certificates/py.PNG" alt="Third slide">
                </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          


          
          </div>
  </div>
  </div>
  </div>
  </div>
</div>

<footer class = "footer">
  <div class = "container">
    <div class ="row">             
       
        <div class = "col-6">
            <h5>Address</h5>
            <address>
          Vancouver, BC, Canada<br>
          
       </address>
        </div>
        <div class = "col-6 align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>&nbsp;
            +1 (514) 568-6633<br>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>&nbsp;
            <a href="mailto:prabhpreet429@gmail.com">prabhpreet429@gmail.com</a><br>
            <a href="https://www.linkedin.com/in/prabhpreet-s/">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>&nbsp; Prabhpreet Singh
            </a><br>  
        </div>
      
   </div>
</div>
</footer>